* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: #111827;
  position: sticky;
  top: 0;
}

.logo {
  color: #38bdf8;
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 18px;
  font-size: 16px;
}

nav a:hover {
  color: #38bdf8;
}

/* Home */
.home {
  padding: 90px 8%;
  text-align: center;
}

.home h1 {
  font-size: 38px;
  margin-bottom: 12px;
}

.home h1 span {
  color: #38bdf8;
}

.home p {
  font-size: 18px;
  max-width: 650px;
  margin: auto;
  margin-bottom: 25px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* Sections */
.section {
  padding: 60px 8%;
  text-align: center;
}

.section h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #38bdf8;
}

.section p {
  max-width: 750px;
  margin: auto;
  font-size: 17px;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.skill-card {
  background: #1e293b;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.project-card {
  width: 280px;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.tech {
  margin-top: 10px;
  font-size: 14px;
  color: #cbd5e1;
}

/* Contact */
.contact-box {
  margin-top: 20px;
  background: #1e293b;
  padding: 18px;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  margin-top: 20px;
  font-size: 14px;
}